# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Environment
.env
.env.example
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# DB data
postgres_data/

# IDE files
.idea/
.vscode/
